@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.eot") format("embedded-opentype");
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.eot") format("embedded-opentype");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Light.woff") format("woff"),
    url("../assets/fonts/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.eot") format("embedded-opentype");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../assets/fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.eot") format("embedded-opentype");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Bold.woff") format("woff"),
    url("../assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

/* Copyright (c) 2011, Cyreal (www.cyreal.org),
with Reserved Font Name "Bad Script".

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL */

@font-face {
  font-family: "Bad Script";
  src: url("../assets/fonts/Bad_Script/BadScript-Regular.eot");
  src: url("../assets/fonts/Bad_Script/BadScript-Regular.ttf") format("ttf"), url("../assets/fonts/Bad_Script/BadScript-Regular.woff2") format("woff2"),
    url("../assets/fonts/Bad_Script/BadScript-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
